{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Dashboard</h1>

		{% for article in articles %}
			<div>
				<h2>{{article.title}}</h2>
				<p>{{article.content}}</p>
				{% if article.url is not null %}
					<img src="{{ asset('uploads/'~article.url) }}" alt="" width="100px" height="100px">
				{% endif %}
				<a href="{{path('visitor_article_id',{ id: article.id})}}">Detail</a>
				<a href="{{path('article_create_modify',{ idArticle: article.id})}}">Modifier</a>
				<a href="{{path('article_delete',{ idArticle: article.id})}}">Supprimer</a>
			</div>
		{% endfor %}

		<a href="{{path('article_create_modify')}}">Ajouter</a>

	</div>

{% endblock %}
